*.JPG
*.aux
*.bbl
*.blg
*.eps
*.html
*.mp
*.mpx
*.new
*.old
*.pdf
*.rdb
*.sav
*.toc
*.txt
*.typ
*.xcf
*.xrf
*Z-*
*~
.scmport/*.lisp
.scmport/*.scm
.scmport/t*
?
?.*
??.*
[^s]*log
index.[^t]*
jpg/*
lambda*
my-tex2page*
ossuary/*
tmp/*
z*
