*.aux
*.eps
*.html
*.JPG
*.mp
*.mpx
*.new
*.old
*.pdf
*.sav
*.toc
*.txt
*.xcf
*.xrf
*Z-*
*~
.scmport/*.lisp
.scmport/*.scm
.scmport/t*
?
?.*
??.*
[^s]*log
index.[^t]*
jpg/*
lambda*
my-tex2page*
ossuary/*
tmp/*
z*
