Makefile
*.JPG
*.aux
*.bbl
*.blg
*.css
*.def
*.eps
*.html
*.mp
*.mpx
*.new
*.old
*.pdf
*.rdb
*.sav
*.tem
*.toc
*.txt
*.typ
*.xcf
*.xrf
*Z-*
*~
.scmport*
?
?.*
??.*
???
????
[^2cefilmpstu]*.tex
[^IR]*.adoc
[^ct]*.lisp
[^s]*log
eg
example
index.[^t]*
jpg/*
lambda*
my-tex2page*
ossuary/*
tmp/*
z*
