/* last modified 2013-02-03 */

/*
@font-face {
    font-family: baskervald;
    src: url('../groffonts/devps/BaskervaldADFStd.otf');
}
*/

/* how to get <em> to work with the above? choosing old workhorse
 * Times for now */


/*
body {
    font-family:  times, georgia, baskervald, serif ;
    line-height: 1.2;  
}
*/
